
<div class="container">
    <h1 class="display-4 text-center font-weight-bold">Eat da Burgers!</h1>
  </div>
<div class="form-container">
  <p class="text-center font-weight-bold">Add your favorite burger here:</p>
  <div class="row">
    <div class="col-4">" "</div>
    <div class="col-4">
  <form class="create-form">
    <div class="form-group align-center container-fluid">
      <input type="text" id="bg" name="name">
    <button type="submit">Add Burger</button>
    </div>
  </form>
  <div class="col-4">" "</div>
  </div>
  </div>
</div>

<div class="row">
  <div class="col-6">
    <h3>Burgers Ready to Eat!</h3>
    <ol>
        {{#each burgers}}
        {{#unless devoured}}
        {{> burgers/burger-block devoured=false}}
        {{/unless}}
        {{/each}}
      </section>

      </section>
    </ol>
  </div>

  <div class="col-6">
  <h3>Burgers Already Gone!</h3>
  <ol>
    {{#each burgers}}
    {{#if devoured}}
    {{> burgers/burger-block devoured=true}}
    {{/if}}
    {{/each}}
  </ol>
  </div>
</div>
</div>