<li>
	<section class="col-9 float-left">
		{{ burger_name}}
	</section>
	{{#if devoured}}
	<section class="col-3 float-right">
		<button data-id={{id}} class="delBurgerBtn btn-danger btn-sm">Delete It!</button>
	</section>
	{{else}}
	<section class="col-3 float-right">
		<button data-id={{id}} class="eatBurgerBtn btn-danger btn-sm"> Eat it!</button>
	</section>
	{{/if}}
</li>