<li>	
<section class="col-6 float-left">
 {{ burger_name}}
 </section>
<section class="col-6 float-right">
          <button data-id={{id}} class="eatBurgerBtn btn-primary">Eat it!</button>
        </section>
</li>

<li>	
<section class="col-6 float-left">
 {{ burger_name}}
 </section>
<section class="col-6 float-right">
          <button data-id={{id}} class="delBurgerBtn btn-primary">Delete it!</button>
        </section>
</li>
